<head>
  <title>Real Life Analytics</title>
  <meta name="viewport" content="initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
<!--
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD6mQAr_Xiwh7Z8CWOsSu6DvKeGPjq1_9c&sensor=true"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
-->
<script>
/**google.load('visualization', '1.0', {'packages':['corechart', 'annotatedtimeline']});

  line_options =  {
      width: 400,
      height: 240,
      title: 'Seconds viewed over time',
      titleTextStyle: {color: 'white'},
      vAxis: {title: "Seconds", textStyle: {color: '#FFFFFF'}, titleTextStyle: {color: 'white'} },
      hAxis: {title: "Time", textStyle: {color: '#FFFFFF'}, titleTextStyle: {color: 'white'} },
      
      backgroundColor: { fill:'transparent' },
      legend: { position: "none" },
      animation:{
        duration: 500,
        easing: 'in'
      },
    };
    tempo = [];
  
  google.setOnLoadCallback( 
    function()
    {
      alert('aa');
      datai = new google.visualization.DataTable();
        datai.addColumn('date', 'Date');
        datai.addColumn('number', 'Engaged Seconds');
        datai.addRows(tempo);
      timeline = new google.visualization.LineChart(document.getElementById('new_graph'));
      timeline.draw(datai, line_options);
    } 
  );**/
</script>

</head>

<body>

<!--	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53812918-1', 'auto');
  ga('send', 'pageview');

</script>
-->  

</body>


