<head>
	<title>Face Tagger</title>
	<!--
	<style type="text/css" media="screen">
    	canvas { background:url(http://www.fmwconcepts.com/misc_tests/spraypaint/lena.jpg) }
  	</style>
  	-->
</head>

<template name='akshay'>
	<h3>Face Tagger</h3>
	<div style="position: fixed; top: 30px; left: 350px;">
		{{> loadImage}}
	</div>
	<div style="position: fixed; top: 30px; left: 450px;">
		{{> tagFace}}
	</div>
	<div style="position: fixed; top: 30px; left: 550px;">
		{{> tagDone}}
	</div>
	<div style="position: fixed; top: 30px; left: 650px;">
		{{> tagCancel}}
	</div>
	<div style="overflow: auto;">
  		<canvas id="canvasID" width=640 height=480></canvas>
  	</div>
   	<p><span id="rectco"></span></p>
  	<div style="border : solid 2px #FFFFFF; background : #FFFFFF; color : #000000; padding : 10px; width : 300px; height : 500px; position: fixed; top: 60px; left: 650px; overflow : auto;">
		{{> tagForm}}
	</div>
</template>

<template name="loadImage">
	<button id='loadID'>Load Image</button>
</template>

<template name="tagFace">
	<button id='tagID'>Tag Face</button>
</template>

<template name="tagDone">
	<button id='doneID'>Done</button>
</template>

<template name="tagCancel">
	<button id='cancelID'>Cancel</button>
</template>

<template name="tagForm">
	<form id="tagOut">
		<p><b>Gender *</b></p>
		<input type="radio" name="sex" value="male">Male
		<input type="radio" name="sex" value="female">Female
		<p><b>Age *</b> ___ <span id="range">0</span> </p>
		0<input type="range" name="age" style="width: 200px; height: 20px;" min="0" max="100" value="0" step="1" onchange="showValue(this.value)"/>100
		<p>Child : 0 - 15 | Young : 16 - 35</p>
		<p>Adult : 36 - 65 | Senior : 66 - 100</p>
		<script type="text/javascript">
			function showValue(newValue)
			{
				document.getElementById("range").innerHTML=newValue;
			}
		</script>
		<p><b>Ethnicity</b></p>
		<p><input type="radio" name="ethnicity" value="white">White (Caucasian)</p>
		<p><input type="radio" name="ethnicity" value="dark">Dark European</p>
		<p><input type="radio" name="ethnicity" value="black">Black</p>
		<p><input type="radio" name="ethnicity" value="asian">South East Asian (China, Japan, etc)</p>
		<p><input type="radio" name="ethnicity" value="southasian">South Asian (India, Pakistan, etc)</p>
		<p><input type="radio" name="ethnicity" value="arabic">Arabic or North African</p>
		<p><input type="radio" name="ethnicity" value="unknown">Unknown</p>
		<p><b>Facial Hair</b></p>
		<input type="radio" name="facehair" value="yes">Yes
		<input type="radio" name="facehair" value="no">No
		<p><b>Reading Glasses</b></p>
		<input type="radio" name="readglasses" value="yes">Yes
		<input type="radio" name="readglasses" value="no">No
		<p><b>Sun Glasses</b></p>
		<input type="radio" name="sunglasses" value="yes">Yes
		<input type="radio" name="sunglasses" value="no">No
		<p><b>Hair Type</b></p>
		<input type="radio" name="hairtype" value="red">Red
		<input type="radio" name="hairtype" value="blonde">Blonde
		<input type="radio" name="hairtype" value="brown">Brown
		<input type="radio" name="hairtype" value="black">Black
		<input type="radio" name="hairtype" value="gray">Gray
		<p><b>Hair Style</b></p>
		<input type="radio" name="hairstyle" value="long">Long
		<input type="radio" name="hairstyle" value="short">Short
		<input type="radio" name="hairstyle" value="bold">Bald
		<!--<p><b>Make Up</b></p>
		<input type="radio" name="makeup" value="yes">Yes
		<input type="radio" name="makeup" value="no">No-->
		<p><b>Hat</b></p>
		<input type="radio" name="hat" value="yes">Yes
		<input type="radio" name="hat" value="no">No
	</form>
</template>
