<template name="demo2">
    
    <div style="position:absolute;visibility:hidden;">
    	<video id="video_test" autoplay loop style="position:relative;visibility:hidden;">
			    	<source src="/videos/top_video2.webm" type="video/webm"/>
			        <source src="/videos/top_video2.mp4" type="video/mp4"/> 
			        
			    </video>
    </div>
    <table>
    	<tr>
    		<td>
    			
    		</td>
    		<td style="display:block;">

    			<div id="cosa"  background="#ff00ff" style="display:block;"> 

    					<canvas id="caney_canvas" width="640" height="480" style="">
						</canvas>

					

                    <div id="faces">

                    </div>
                    
    			</div>



    		</td>
    	</tr>
    	<tr>
    		<td>
    			<div id="cosa2"  background="#ff00ff"> 
    	
    			</div>
    		</td>	
    	</tr>	
    </table>
    

    

</template>