<template name="demo">
    
    <video id="inputVideo" autoplay loop>
    	
        
    </video>
    
	    
		<div width="100%" class="center_content" style="left:0px;right:0px;">
			
				<div>	
					<canvas id="caney_canvas" width="640" height="480" style="">
					</canvas>
					<div id="face_marker" style="border-color:rgba(61,195,105,0.5);position:absolute;top:0px;width:80px;height:80px;border-style:dashed;border-width:10px; border-radius:60%;">

					</div>
				</div>
			
		</div>
		<table width="100%" style="left:0px;right:0px;">
			<tr>

				<td style="font-size:40px">
					<center>
					Real Life Analytics Demo
					</center>
				</td>
				<td>
					<center>
					<div id="orientation" style="display:block;width:150px;height:150px;background-color:rgba(55,55,55,0.2); border-color:rgba(61,195,105,0.5); border-style:solid; border-width:5px;">
						
					</div>
					<div>
						<br/>
						Angle: <span id="degrees"> 0</span>&deg;
					</div>
					</center>
				</td>	
			</tr>	

		</table>
		

		

		<canvas id="inputCanvas" width="320" height="240" style="visibility:hidden" >
		</canvas>
					  
    <div id="legend">
    </div>	
</template>