
<template name="tryit">
      <span style="display:inline-block;position:absolute;left:0px;width:0%;margin:0px;top:0px;bottom:0px;">
        
      </span>
      <span style="display:block;position:absolute;right:0%;width:100%;margin:0px;top:0px;bottom:0px;">
        
	    <video id="inputVideo" autoplay loop></video>

	    <div id="main_street_view" style="visibility:hidden">
	    	
	    	
	    </div>
	    <div id="searchForm" class="form-inline">
	        <div id="the_ring" class="right_content " style="">
	        	<div id="add_0" style="position:absolute;top:91px;left:41px; width:249px;height:368px;margin:0px;overflow:hidden">
	        		<div style="position:absolute;top:0px;left:0px; width:249px;height:368px;margin:0px;overflow:hidden">
	        			<img src="/images/monalisa.png" width="100%">
	        		</div>
	        		
	        		<div style="position:absolute;top:50px;left:50px; width:122px;height:137px;margin:0px;overflow:hidden;">
	        			<canvas id="faceCanvas" width="122px" height="137px">

	        			</canvas>
	        		</div>	

	        		<div style="position:absolute;top:0px;left:0px; width:249px;height:368px;margin:0px;overflow:hidden">
	        			<img src="/images/monalisa2.png" width="100%">
	        		</div>
	        		
	        		<div style="position:absolute;bottom:10px;left:50px; width:172px;height:187px;margin:0px;overflow:hidden;color:white">
	        			<h4>MoMA 2015 </h4>
	        			You and Monalisa<hr/>
	        			Buy tickets now. 
	        			<img src="/images/qr_code.jpeg" width="40px"/>
	        		</div>	

	        		
						
				</div>

				<div id="add_1" style="position:absolute;top:91px;left:41px; width:249px;height:368px;margin:0px;overflow:hidden;background-color:black;">
					<div id="nemo_video" style="position:absolute;top:0px;left:-100px; width:449px;height:368px;margin:0px;overflow:hidden">
	        			<img src="/images/nemo_ocean.jpg" height="100%">
	        		</div>
	        		<div style="position:absolute;bottom:10px;left:50px; width:172px;height:187px;margin:0px;overflow:hidden;color:white">
	        			<h4>FINDING NEMO 3 </h4>
	        			can you?. <hr/>
	        			Buy tickets now.
	        			<img src="/images/qr_code.jpeg" width="40px"/>
	        		</div>	
				</div>

				<div id="keep_calm" style="position:absolute;top:91px;left:41px; width:249px;height:368px;margin:0px;overflow:hidden;background-color:black;">
					<div id="keep_calm" style="position:absolute;top:30px;left:0px; width:249px;height:368px;margin:0px;overflow:hidden">
	        			<img src="/images/keep_kalm.png" width="100%">
	        		</div>
	        			
				</div>

	        	<div style="position:absolute;top:0px;left:0px; width:415px;height:491px;">
					<img src="/images/billboard.png" width="419">	
				</div>
				
			</div>

			<div class=" centered" style="left:0px;width:400px;position:absolute;">

				<div style="display:block;position:absolute;top:20px;">
					<div>

					    <canvas id="inputCanvas" width="320" height="240" style="visibility:hidden">
					    </canvas>
					  
					  
					</div>
					<div id="legend" style="width:100%;left:0px; text-align:center; overflow: auto">
					    Please enable your webcam by clicking the button "Allow" located in the top of this window.
					    <br/>
					</div>
					<div id="legend2" style="width:100%;left:0px; text-align:center; overflow: auto">

					</div>	
					
		        </div>
				
						
			</div>
	    </div>

      </span>
      
</template>